.container {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ddd;
  display: flex;
  flex-flow: column nowrap;
}

.titleText {
  margin: 0 0 0.2rem 0;
  padding: 0 0 0 1rem;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.projectText {
  margin: 0rem 0 0rem 0;
  padding: 0 0 0 1rem;
  color: rgb(153, 151, 151);
  font-size: 16px;
  font-weight: 300;
}

.elapsedTime {
  margin: 0.5rem 0;
  font-size: 30px;
  text-align: center;
}

.buttonsContainer {
  margin: 0.2rem 0 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.editButton {
  padding: 0;
  border: none;
  background: transparent;
  width: min-content;
  cursor: pointer;
}

.editIcon {
  font-size: 18px;
  pointer-events: none;
}

.deleteButton {
  margin: 0 0 0 0.5rem;
  padding: 0;
  border: none;
  background: transparent;
  width: min-content;
  cursor: pointer;
}

.deleteIcon {
  font-size: 18px;
  pointer-events: none;
}

.startTimerButton {
  padding: 0.3rem;
  border: 1px solid skyblue;
  border-radius: 2px;
  outline: 0;
  display: block;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.startTimerButton:hover {
  border: 1px solid transparent;
  background-color: skyblue;
  color: #fff;
  transition: background-color 0.2s linear;
}
